.tic-tac-toe-game{
  display: inline-block;
}

.tic-tac-toe-row{
  display: flex;
}

.tic-tac-toe-square{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 42px;
  text-align: center;
  line-height: 100px;
}

.template{
  display: none;
}
